/* UTILITY */
// text color
.text-white {
  color: #fff;
}

.text-gray {
  color: #A3A3A3;
}

.text-darkgray {
  color: #333333;
}

.text-blue {
  color: #009CFF;
}

// background-color
.bg-purple {
  background-color: #3C1567;
}

.bg-gray {
  background-color: #3C3C3C;
}

.bg-blue {
  background-color: #0072BC;
}

// margin and padding
@for $i from 1 through 10 {
  .mt-#{$i} {
    margin-top: 0.5em * $i;
  }
}

@for $i from 1 through 10 {
  .mb-#{$i} {
    margin-bottom: 0.5em * $i;
  }
}

@for $i from 1 through 10 {
  .pt-#{$i} {
    padding-top: 0.5em * $i;
  }
}

@for $i from 1 through 10 {
  .pb-#{$i} {
    padding-bottom: 0.5em * $i;
  }
}



// font
.font-weight-bold {
  font-weight: bold;
}

// text
.text-underscore {
  text-decoration: underline;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

// button
.my-btn {
  font-size: 13px;
  color: $tertiary;
  background-image: $bg-lg;
  transition: transform .45s,opacity .45s;
  padding: 18px 45px;
  text-shadow: 0 0 10px rgb(0 0 0 / 4%);
  box-shadow: 6px 6px 25px 0 rgb(0 217 166 / 35%);
  text-transform: uppercase;
  border-radius: 25px;
  cursor: pointer;
  width: fit-content;
}

// separator
.separator-container {
  display: flex;
  margin: 40px 0 50px;
  .separator-left {
    height: 5px;
    width: 10px;
    background-image: linear-gradient(to right,#9be15d 0%,#00d9a6 100%);
    border-radius: 20px;
    margin-right: 5px;
  }
  .separator-right {
    height: 5px;
    width: 50px;
    background-image: linear-gradient(to right,#9be15d 0%,#00d9a6 100%);
    border-radius: 20px;
  }
}
