.jumbo {
  color: $primary;
  height: 940px;
  background-color: #f5f5f5;
  background-image: url('../img/businesswoman-round.png');
  background-position: 100% 50%;
  background-size: 1200px;
  background-repeat: no-repeat;
  margin-top: 146px;
  .jumbo-container {
    @include container-center(80%);
    .jumbo-contain {
      h4 {
        background: -webkit-linear-gradient(#00d9a6,#9be15d);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        letter-spacing: 8px;
        text-transform: uppercase;
      }
      h1 {
        font-size: 60px;
      }
      h4 {
        font-size: 17px;
      }
      .selector {
        height: 52px;
        width: 196px;
        background: linear-gradient(271deg,#2e2e2e 1%,#5a5a5a 100%);
        box-shadow: 9px 7px 20px rgb(0 0 0 / 20%);
        border-radius: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span:first-child {
          padding: 12px 20px;
          background-image: $bg-lg;
          border-radius: 150px;
        }
      }
    }
  }
}
