.partners {
  .partners-container {
    @include container-center(80%);
    .partners-card-container {
      display: flex;
      flex-wrap: wrap;
      .partners-card {
        padding: 70px;
        border-radius: 20px;
        height: 300px;
        width: calc(100% / 2 - 30px);
        margin: 0 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .partners-card-text {

        }
        &.partners-card-gray {
          background: linear-gradient(271deg,#0c0c0c 0%,#474747 100%);
        }
        &.partners-card-green {
          background-image: linear-gradient(39deg,$secondary 0%,#9be15d 100%);
        }
      }
    }
  }
}
