.we-are {
  .we-are-container {
    display: flex;
    @include container-center(80%);
    padding: 210px 0 200px;
    .we-are-left {
      width: 40%;
      h1 {
        font-size: 55px;
        span {
          color: $secondary;
        }
      }
    }
    .we-are-right {
      width: 60%;
      display: flex;
      flex-wrap: wrap;
      .we-are-card {
        padding: 60px 50px;
        margin: 20px;
        border-radius: 15px;
        box-shadow: 0 3px 35px 0 rgb(0 0 0 / 14%);
        width: calc(100% / 2 - 40px);
        i {
          font-size: 65px;
        }
        &:hover {
          background-image: linear-gradient(39deg,#00d9a6 0%,#9be15d 100%);
        }
      }
    }
  }
}
