.web-design {
  .web-design-container {
    @include container-center(80%);
    padding-top: 200px;
    .web-design-up {
      display: flex;
      flex-wrap: wrap;
      .web-design-up-left {
        width: 45%;
        h1 {
          font-size: 55px;
          span {
            color: $secondary;
          }
        }
      }
      .web-design-up-right {
        width: 55%;
        padding-top: 250px;
        padding-left: 40px;
      }
    }
    .web-design-down {
      display: flex;
      flex-wrap: wrap;
      .card-web-design {
        width: calc(100% / 4 - 6px);
        margin: 0 3px;
        img {
          width: 100%;
          border-radius: 5px;
        }
      }
    }
    .my-btn {
      margin: 120px auto 220px;
    }
  }
}
