<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rufina:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./dist/css/master.css">
  <title>Business Landing</title>
</head>
<body>
  <div id="root">

    <header>
      <!-- navbar -->
      <nav>
        <!-- navbar-up -->
        <div class="nav-up">
          <div class="nav-up-container">
            <div class="nav-up-left">
              <ul>
                <li>(001) 88451234</li>
                <li>884555438</li>
              </ul>
            </div>
            <div class="nav-up-right">
              <ul>
                <!-- v-for per loghi social -->
                <li v-for="socialLogo in socialLogos"><i :class="socialLogo.logo"></i></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- navbar-down -->
        <div class="nav-down">
          <div class="nav-down-container">
            <div class="nav-down-left">
              <img src="./dist/img/logo-phlox-business.png" alt="">
            </div>
            <div class="nav-down-center">
              <ul class="text-uppercase">
                <!-- v-for per link navbar -->
                <li v-for="navLink in navLinks"><a :href="navLink.link">{{navLink.name}}</a></li>
              </ul>
            </div>
            <div class="nav-down-right">
              <ul>
                <li><div class="my-btn">purchase</div></li>
                <li><i class="fas fa-search"></i></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
      <!-- jumbotron -->
      <div class="jumbo" :style="`background-image: url('${backgroundImgs[index]}')`">
        <div class="jumbo-container">
          <div class="jumbo-contain">
            <h4 class="mb-1">17 years of experience</h4>
            <h1 class="mb-4">We Are a<br>Web Design <span>Agency</span></h1>
            <!-- separatore -->
            <div class="separator-container">
              <div class="separator-left"></div>
              <div class="separator-right"></div>
            </div>
            <p class="mb-7 mt-6">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,<br> there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the<br>Semantics, a large language ocean.Separated they live in Bookmarksgrove.</p>
            <div class="my-btn-gray mb-9">read more</div>
            <div class="social-container">
              <h5 class="text-uppercase"><span>facebook</span> - <span>instagram</span> - <span>youtube</span> - <span>twitter</span></h5>
              <div class="selector">
                <span
                v-for="num in backgroundImgs.length"
                :class="(num - 1 == index) ? 'active' : '' "
                @click="numSelection(num - 1)"
                >0{{num}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <!-- sezione about -->
      <section class="we-are" id="about">
        <div class="we-are-container">
          <!-- parte sinistra -->
          <div class="we-are-left mt-10">
            <h1 class="text-capitalize mb-4">we are here to <br> make your <span>website </span><br> look more <span>elegant</span><br> and stylish!</h1>
            <!-- separatore -->
            <div class="separator-container">
              <div class="separator-left"></div>
              <div class="separator-right"></div>
            </div>
            <div class="my-btn mt-8">view all</div>
          </div>
          <!-- parte destra -->
          <div class="we-are-right">
            <div class="we-are-card">
              <i class="fas fa-tachometer-alt mb-5"></i>
              <h2 class="mb-3">Speed Optimization</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia Separated...</p>
            </div>
            <div class="we-are-card">
              <i class="fas fa-cloud mb-5"></i>
              <h2 class="mb-3">Cloud Solution</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia Separated...</p>
            </div>
            <div class="we-are-card">
              <i class="fas fa-tablet-alt mb-5"></i>
              <h2 class="mb-3">Website Design</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia Separated...</p>
            </div>
            <div class="we-are-card">
              <i class="fas fa-stopwatch mb-5"></i>
              <h2 class="mb-3">Online Marketing</h2>
              <p>Far far away, behind the word mountains, far from the countries Vokalia Separated...</p>
            </div>
          </div>
        </div>
      </section>
      <!-- sezione services -->
      <section class="learn-more" id="services">
        <div class="learn-more-container">
          <!-- parte sinistra -->
          <div class="learn-more-left">
            <div class="businesswoman">
              <img src="./dist/img/businesswoman.jpg" alt="">
            </div>
            <div class="architect">
              <img src="./dist/img/busy-architect.jpg" alt="">
              <div class="architect-overlay"></div>
            </div>
          </div>
          <!-- parte destra -->
          <div class="learn-more-right">
            <h1 class="mt-10">learn more about<br>our <span>missions</span></h1>
            <!-- separatore -->
            <div class="separator-container">
              <div class="separator-left"></div>
              <div class="separator-right"></div>
            </div>
            <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.Separated they live in Bookmarksgrove.</p>
            <div class="my-btn">read more</div>
          </div>
        </div>
      </section>
      <!-- sezione showcase -->
      <section class="web-design" id="showcase">
        <div class="web-design-container">
          <!-- parte alta con titolo e paragrafo -->
          <div class="web-design-up">
            <div class="web-design-up-left">
              <!-- separatore -->
              <div class="separator-container">
                <div class="separator-left"></div>
                <div class="separator-right"></div>
              </div>
              <h1 class="mb-4">Our recent <span>web design</span> &<br>some examples of<br>past <span>projects</span></h1>
              <!-- separatore -->
              <div class="separator-container">
                <div class="separator-left"></div>
                <div class="separator-right"></div>
              </div>
            </div>
            <div class="web-design-up-right">
              <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.Separated they live in Bookmarksgrove.Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove.</p>
            </div>
          </div>
          <!-- v-for per card -->
          <div class="web-design-down mt-5">
            <div v-for="designCard in designCards" class="card-web-design">
              <img :src="designCard.img" :alt="designCard.title">
              <div class="card-web-design-overlay">
                <h2>{{designCard.title}}</h2>
                <div class="branding-marketing-container text-uppercase mt-1">
                  <span>{{designCard.subtitle}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="my-btn">read more</div>
        </div>
      </section>
      <!-- sezione con commento -->
      <section class="client-comment">
        <div class="client-comment-container">
          <div class="client-comment-overlay">
            <div class="client-comment-contain text-center">
              <h2 class="pt-20">“</h2>
              <p class="mb-10">When it comes to barbequing, there are two main schools of thought for the techniques that you can use. Freshly scrambled eggs with applewood smoked bacon - are amazing!</p>
              <div class="img-round"></div>
              <h3 class="text-uppercase mt-3 mb-1">lissa durbin</h3>
              <span>Client</span>
            </div>
          </div>
        </div>
      </section>
      <!-- sezione blog -->
      <section class="blog" id="blog">
        <div class="blog-container">
          <!-- parte alta con titolo -->
          <div class="blog-title-container">
            <h1 class="text-capitalize mb-3">lastest news & our <span>blog</span></h1>
            <!-- separatore -->
            <div class="separator-container">
              <div class="separator-left"></div>
              <div class="separator-right"></div>
            </div>
          </div>
          <!-- parte bassa con card -->
          <div class="blog-card-container">
            <!-- v-for su card -->
            <div v-for="blogCard in blogCards" class="blog-card">
              <img :src="blogCard.img" alt="">
              <div class="blog-card-absolute">
                <span>{{blogCard.dateBy}}</span>
                <div class="blog-card-title">
                  <i class="fas fa-circle"></i>
                  <h2 class="mt-1">{{blogCard.title}}</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="my-btn-gray">veiw all post</div>
        </div>
      </section>
      <!-- sezione partners -->
      <section class="partners">
        <div class="partners-container">
          <div class="partners-card-container">
            <!-- card grigia -->
            <div class="partners-card partners-card-gray">
              <div class="partners-card-text text-center">
                <span>Are You Ready</span>
                <h1 class="mt-2">Start a New Projects</h1>
              </div>
              <div class="subscribe">
                <input type="email" name="email" value="" placeholder="Enter Your Mail Address">
                <span class="submit">SUBMIT</span>
              </div>
            </div>
            <!-- card verde -->
            <div class="partners-card partners-card-green">
              <div class="partners-card-text text-center">
                <span>What Are You Waiting for?</span>
                <h1 class="mt-2">Let's Talk About Work</h1>
              </div>
              <div class="my-btn-gray">start now</div>
            </div>
          </div>
          <div class="partners-logo-container">
            <div v-for="logo in partnersLogo" class="partners-logo">
              <img :src="logo.img" :alt="logo.name">
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- FOOTER/sezione contact -->
    <footer id="contact">
      <!-- parte alta -->
      <section class="footer-up mt-20 mb-15">
        <div class="contacts-container">
          <div class="contacts-card">
            <img src="./dist/img/logo-phlox-business.png" alt="">
            <p class="mt-2">While the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees.While the lovely valley teems with vapour around me.</p>
          </div>
          <div class="contacts-card">
            <h2 class="text-uppercase">quick links</h2>
            <div class="separator-container">
              <div class="separator-left-footer"></div>
              <div class="separator-right-footer"></div>
            </div>
            <ul class="quick-links">
              <li class="mb-1" v-for="footerLink in footerLinks"><a :href="footerLink.link">{{footerLink.name}}</a></li>
            </ul>
          </div>
          <div class="contacts-card">
            <h2 class="text-uppercase">contact</h2>
            <div class="separator-container">
              <div class="separator-left-footer"></div>
              <div class="separator-right-footer"></div>
            </div>
            <ul>
              <!-- v-for su quick-links -->
              <li class="mb-4" v-for="footerContact in footerContacts">{{footerContact.info}}</li>
            </ul>
          </div>
          <div class="contacts-card">
            <h2 class="text-uppercase">location on map</h2>
            <div class="separator-container">
              <div class="separator-left-footer"></div>
              <div class="separator-right-footer"></div>
            </div>
            <img src="./dist/img/map.png" alt="">
          </div>
        </div>
      </section>
      <!-- parte bassa -->
      <section class="footer-down">
        <div class="footer-down-container">
          <p><small>© 2020 PHLOX BUSINESS THEME.</small></p>
          <ul>
            <!-- v-for per loghi social -->
            <li v-for="socialLogo in socialLogos"><i :class="socialLogo.logo"></i></li>
          </ul>
        </div>
      </section>
      <!-- sezione fixed -->
      <section class="footer-fixed">
        <a href="#">
          <div class="fixed-arrow">
            <i class="fas fa-arrow-up"></i>
          </div>
        </a>
        <div class="fixed-comment">
          <i class="far fa-comment"></i>
        </div>
      </section>
    </footer>

  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./dist/js/main.js" charset="utf-8"></script>
</body>
</html>
